  /* Nav section */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.home-picture img {
  width: 100%;
  height: 435px;
  margin: 0;
  position: relative;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@keyframes homePicture {
  45% {
    opacity: 0.9;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

.home-picture {
  animation: homePicture 10s infinite;
}

.home-photo-text {
  position: absolute;
  text-transform: uppercase;
  right: 20px;
  bottom: 250px;
  padding: 10px;
  color: white;
  /* text-shadow: -1.5px 0 #0F2320, 0 1.5px #0F2320, 1.5px 0 #0F2320, 0 -1.5px #0F2320;
  font-style: italic; */
  font-size: 0.8rem;
  z-index: 2;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.display-left {
  position: absolute;
  background: rgba(0, 53, 44, 0.8);
  border: none;
  color: white;
  padding: 15px;
  top: 40%;
  left: 0%;
  transform: translate(0%, -50%);
}

.display-left:hover {
  color: #00A085;
}

.display-right {
  position: absolute;
  background: rgba(0, 53, 44, 0.8);
  border: none;
  color: white;
  padding: 15px;
  top: 40%;
  right: 0%;
  transform: translate(0%, -50%);
}

.display-right:hover {
  color: #00A085;
}

.nav-container {
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background: rgba(0, 53, 44, 0.8);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.4em 0;
  /* position: relative; */
  z-index: 2;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1.2rem;
  margin: 8px;
  font-weight: 700;
}

.X {
  font-size: 1.4rem;
  font-family: 'Mr Dafoe', cursive;
  font-style: italic;
}

.site-nav {
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0%;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 900ms;
}

.site-nav--open {
  clip-path: circle(250% at top right);
  display: block;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #699D94;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: white;
  background: rgba(0, 53, 44, 0.8);
  display: block;
  padding: 2em 2em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover, .site-nav a:focus {
  /* background: #008A73; */
  color: #00A085;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, .4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 1.1em;
  right: .5em;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: white;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}


/* Offer section */

.destination-heading {
  color: #00A085;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.biggerLetter {
  font-size: 2.3rem;
}

.destination-subheading {
  color: #00A085;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.destination-text {
  color: black;
  text-align: center;
  font-size: 14px;
  line-height: 23px;
  margin: 5px;
}

.destination-subtext {
  color: #00A085;
  text-align: right;
  padding: 2px;
  font-size: 0.8rem;
  position: relative;
  right: 20%;
  margin-bottom: 10px;
}

.destination-subtext:hover {
  /* color: rgba(0, 53, 44); */
  font-weight: bold;
}

.asia-photo1 img {
  width: 100%;
  height: auto;
}

.asia-photo2 img {
  width: 100%;
  height: auto;
}

.south-america-photo1 img {
  width: 100%;
  height: auto;
}

.south-america-photo2 img {
  width: 100%;
  height: auto;
}

@media (min-width: 800px) {
  /*nav-section*/
  header {
    background: rgba(0, 53, 44, 0.7);
    color: white;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  header {
    border-bottom: 2px solid #699D94;
  }
  .home-picture img {
    width: 100%;
    height: 650px;
    margin: 0;
    margin-bottom: 50px;
    position: relative;
    background-size: cover;
  }
  .home-photo-text {
    /* position: absolute; */
    text-transform: uppercase;
    padding: 10px;
    right: 100px;
    bottom: 50px;
    color: white;
    font-style: italic;
    font-size: 1.2rem;
    z-index: 2;
  }
  .display-left {
    position: absolute;
    background: rgba(0, 53, 44, 0.8);
    border: none;
    font-size: 1.5rem;
    color: white;
    padding: 15px;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
  }
  .display-left:hover {
    color: #00A085;
  }
  .display-right {
    position: absolute;
    background: rgba(0, 53, 44, 0.8);
    border: none;
    font-size: 1.5rem;
    color: white;
    padding: 15px;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
  }
  .display-right:hover {
    color: #00A085;
  }
  .menu-toggle {
    display: none;
  }
  .site-nav {
    width: auto;
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
    z-index: 4;
  }
  .site-nav li {
    display: inline-block;
    border: none;
    margin-right: 8px;
    margin-top: 5px;
  }
  .site-nav a {
    margin-top: 10px;
    padding: 0;
    margin-left: 1.5em;
    background: none;
  }
  .site-nav a:hover, .site-nav a:focus {
    background: none;
    color: #00A085;
  }
  .site-nav--icon {
    display: none;
  }
  /* Offer section */
  .asia {
    position: relative;
    left: 5%;
    width: 60%;
    margin-bottom: 70px;
  }
  .destination-heading {
    color: #00A085;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 15px;
    font-weight: bold;
  }
  .biggerLetter {
    font-size: 3.3rem;
  }
  .destination-subheading {
    color: #00A085;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
  }
  .destination-subtext {
    font-size: 1rem;
  }
  .asia-photo1 img {
    width: 100%;
    padding: 2px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .asia-photo2 img {
    position: absolute;
    width: 250px;
    top: 80%;
    padding: 2px;
    left: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .south-america {
    position: relative;
    left: 35%;
    width: 60%;
  }
  .south-america-photo1 img {
    padding: 2px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* .south-america-photo2 img {
    position: absolute;
    top: 50%;
    right: 75%;
    width: 250px;
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */
  .africa {
      position: relative;
      left: 5%;
      width: 60%;
      margin-top: 70px;
  }
}

@media (min-width: 1360px) {
  .home-picture img {
    width: 100%;
    height: 650px;
    margin: 0;
    position: relative;
    background-size: cover;
  }
  .home-photo-text {
    /* position: absolute; */
    right: 100px;
    bottom: 15px;
    padding: 0px;
    color: white;
    /* font-style: italic;
    font-weight: bold; */
    font-size: 1.7rem;
    z-index: 2;
  }
  /* Offer section */
  .asia-photo1 img {
    height: 500px;
  }
  .asia-photo2 img {
    width: 300px;
    top: 80%;
    left: 90%;
  }
  .south-america-photo1 img {
    height: 500px;
  }
  @media (min-width: 1600px) {
    .home-picture img {
      width: 100%;
      height: 850px;
      margin: 0;
      margin-bottom: 60px;
      position: relative;
      background-size: cover;
    }
    .home-photo-text {
      /* position: absolute; */
      right: 100px;
      bottom: 90px;
      padding: 5px;
      color: white;
      /* font-style: italic;
    font-weight: bold; */
      font-size: 1.7rem;
      z-index: 2;
    }
    .asia-photo1 img {
      height: 600px;
    }
    .asia-photo2 img {
      width: 450px;
      top: 80%;
      left: 85%;
    }
    .south-america {
      margin-top: 200px;
    }
    .south-america-photo1 img {
      height: 600px;
    }
  }
