.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    //need to add height to parent element as well as position absolute make child height collapse and the effect is gone


    &__side {
        height: 50rem;
        transition: all .8s ease;
        color: yellow;
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; //hides the back part of the element
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
        }
    }
    

    &:hover &__side--front {
        transform: rotateY(-180deg);

    }

    &:hover &__side--back {
        transform: rotateY(0deg);

        &-1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }

        &-2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }

        &-3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }
    }
}

//perspective needs to be set on the parent element to work and it must have a very high value e.g. 150rem to have the whole effect work properly