/*Nav section*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.nav-container {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
}

header {
    background: #131F27;
    color: rgb(86, 150, 150);
    padding: 1.5em 0;
    position: relative;
    border-bottom: 2px solid rgb(86, 150, 150);
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background:  #131F27;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 900ms;
}

.site-nav--open {
    clip-path: circle(250% at top right);
    /*   display: block; */
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: rgb(86, 150, 150);
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background: rgb(12, 18, 22);
    color: #00EEEE;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: rgb(86, 150, 150);
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

/*home-section*/

.home-container {
    max-width: 100%;
    height: 450px;
    margin-top: 0;
    padding: 20px;
    background-image: url('../img/wall.jpeg');
    background-repeat: no-repeat;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(206, 200, 200);
    line-height: 10x;
    height: auto;
}

.home-container .leading {
    font-size: 3rem;
    line-height: 10x;
    margin-top: 30px;
}

.home-container .realEstate {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 10x;
}

/*offer section*/

.offer-container {
    background: #131F27;
    padding: 20px;
    border-top: 2px solid rgb(86, 150, 150);
    text-align: center;
    color: white;
    line-height: 30px;
    height: auto;
}

.offer-container h1 {
    margin-top: 50px;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 50px;
    padding: 20px;
}

.card {
  background-color: rgb(144, 155, 162);
}
.offer-container .card-body {
    padding: 20px;
    background-color: rgb(144,155,162);
    margin: 0;
    color: black;
}

.offer-container .row .col-sm-12 {
    border: 2px solid rgb(160, 160, 158);
    box-shadow: 10px 10px 12.5px 0px rgb(9, 9, 9);
    font-size: 12px;
    /* border-radius: 12.5px; */
    margin-top: 25px;
    box-sizing: border-box;
}
.offer-container p {
    margin-bottom: 40px;
}


.offer-container .row .card-header {
    font-size: 18px;
    padding: 18px;
    margin: 0 auto;
    background: rgb(86, 150, 150);
    color: #2b3332;
    font-weight: bold;
    /* border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px; */
    /* margin-bottom: 15px; */
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    height: 40px;
}

.offer-container button {
    background: rgb(86, 150, 150);
    color: #2b3332;
    /* border-radius: 5px; */
    padding: 10px;
    margin-bottom: 25px;
    width: 80%;
    box-shadow: 3px 3px 5.5px 0px rgb(9, 9, 9);
}

.offer-container button:hover {
    /* background: rgb(2, 132, 240);
    color: #2b3332; */
    border: 1.5px solid #00EEEE;
}


/*slideshow*/
.slide-conatiner {
  background-color: #131F27;
  padding: 30px;
  border-bottom: 2px solid rgb(230, 230, 191);
  height: auto;
}

.slide-container .heading  {
  text-align: center;
  padding: 20px;
  background-color: #131F27;
  color: white;
}

.slide-container .row {
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
  background-color: #131F27;
}

.slide-container .row .content {
  position: relative;
  bottom: 110px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color:#f1f1f1;
  width: auto;
  padding: 20px;
  font-size: 10px;
  border-right: 2px solid rgb(160, 160, 158);
  border-left: 2px solid rgb(160, 160, 158);
  box-shadow: : 10px 10px 12.5px 0px rgb(9, 9, 9);
  box-sizing: border-box;
  }

  .slide-container .col-3:hover .content{
      color: rgb(06, 150, 150);
      background: rgba(0, 0, 0, 0.7);
  }

.slide-container .row .col-sm-12  img {
  height: 100%;
  width: 100%;
  border: 2px solid rgb(160, 160, 158);
  box-shadow: : 10px 10px 12.5px 0px rgb(9, 9, 9);
  box-sizing: border-box;
}

/*About us*/

.about {
  background-color: #131F27;
  height: 50px;
  max-width: 100%;
  border-top: 3px solid rgb(86, 150, 150);
}

.picture img {
  height: 500px;
  width: 100%;
}

.about1 {
  background-color: #131F27;
  height: 50px;
  max-width: 100%;
  border-bottom: 3px solid rgb(86, 150, 150);
}
@media (min-width: 768px) {
    /*nav-section*/
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }
    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }
    .site-nav--icon {
        display: none;
    }
    .home-container {
        max-width: 97.8%;
        height: 500px;
        margin-top: 0;
        font-size: 1.2rem;
        padding: 20px;
        text-align: center;
        line-height: 15px;
        background-image: url('../img/wall.jpeg');
        background-repeat: no-repeat;
    }
    .home-container .leading {
        font-size: 3.5rem;
        line-height: 15px;
        margin-top: 170px;
    }
    .home-container .realEstate {
        font-size: 3rem;
        font-weight: bold;
        line-height: 15px;
    }

    .offer-container .row .col-md-6:hover {
       transform: scale(1.05);
   }


   .offer-container.row .col-md-6:after {
       content: "";
       display: table;
       clear: both;
   }
    .offer-container {
        background: #131F27;
        padding: 20px;
        text-align: center;
        line-height: 30px;
        height: auto;
        overflow: auto;
        column-gap: 1.5rem;
    }
    .offer-container .row .col-md-6 {
        width: 50%;
        border: 2px solid rgb(160, 160, 158);
        box-shadow: 10px 10px 12.5px 0px rgb(9, 9, 9);
        font-size: 12px;
        margin-top: 25px;
        box-sizing: border-box;
        float: left;
        display: inline-block;
        background: #131F27;
    }

    .col-md-6 .card:hover .card-header{
        background-color: rgb(86, 150, 150);
    }
    .offer-container.row .col-md-6:after {
        content: "";
        display: table;
        clear: both;
    }


    .slide-container .row .col-md-6  {
      width: 50%;
    }
    .slide-container.row .col-md-6:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media (min-width: 992px) {
    /*nav-section*/
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }
    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }
    .site-nav--icon {
        display: none;
    }
    .home-container {
        width: 100%;
        height: 500px;
        margin-top: 0;
        font-size: 1.2rem;
        padding: 20px;
        text-align: center;
        line-height: 15px;
        background-image: url('../img/wall.jpeg');
        background-repeat: no-repeat;
    }
    .home-container .leading {
        font-size: 3.5rem;
        line-height: 15px;
        margin-top: 170px;
    }
    .home-container .realEstate {
        font-size: 3rem;
        font-weight: bold;
        line-height: 15px;
    }
    .offer-container {
        background: #131F27;
        padding: 20px;
        text-align: center;
        line-height: 30px;
        height: auto;
        overflow: auto;
    }

    .col-3 .card:hover .card-header{
        background-color: rgb(86, 150, 150);
    }
    .offer-container .row .col-3 {
        width: 25%;
        border: 2px solid rgb(160, 160, 158);
        box-shadow: 10px 10px 12.5px 0px rgb(9, 9, 9);
        font-size: 12px;
        margin-top: 25px;
        box-sizing: border-box;
        float: left;
        display: inline-block;
        background: #131F27;
    }

      .slide-container .row .col-3  {
        width: 33.3%;
      }

    }
